{% extends 'base.html' %}
{% block content %}    
<h1>Relatório</h1>
<table class="table table-striped table-bordered">
    <tr>
        <th>Descrição</th>
        <th>Saldo</th>
    </tr>
    {% for item in estoque_final %}
        <tr>
            <td class="col-sm-6">{{ item.descricao }}</td> 
            <td class="col-sm-3">{{ item.saldo }}</td>  
        </tr>
    {% endfor %}
</table>

<a href="{% url 'estoque' %}">Estoque</a>
<a href="{% url 'funcionarios' %}">Funcionários</a>
<a href="{% url 'produtos' %}">Produtos</a>
{% endblock %}