{% extends 'base.html' %}
{% block content %}    
<h1>Lista de Produtos</h1>
<form method="post" action="{% url 'produtos' %}">
    {% csrf_token %}
    {% if error != null%}
        <div class="alert alert-danger" role="alert">
            {{error}}
        </div>
    {% endif %} 
    <table class="table table-bordered table-light table-responsive-sm caption-top ">
        <tr>
            <th class="col-sm-3">Marca</th>
            <th class="col-sm-3">Descrição</th>
            <th class="col-sm-2">Unidade de Medida</th>
            <th class="col-sm-4">Ação</th>
        </tr>
        {% if not form.instance.id %}
            <tr>
                {% include 'save.html' %}
            </tr>
        {% endif %} 
        {% for produto in produtos %}
            <tr>
                {% if form.instance.id == produto.id %}                
                    {% include 'funcionarios/save.html' %}
                {% else %}
                    <td class="col-sm-3">{{ produto.marca }}</td> 
                    <td class="col-sm-3">{{ produto.descricao }}</td>  
                    <td class="col-sm-2">{{ produto.unidade_medida }}</td>           
                    <td class="col-sm-1">
                        <button formnovalidate class="btn btn-success" name="edit" value="{{ produto.id }}">Edit</button>
                        <button formnovalidate class="btn btn-danger" name="delete" value="{{ produto.id }}">Delete</button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
</form>
<a href="{% url 'relatorio' %}">Relatorio</a>
<a href="{% url 'estoque' %}">Estoque</a>
<a href="{% url 'funcionarios' %}">Funcionários</a>
<a href="{% url 'produtos' %}">Produtos</a>
{% endblock %}